{{> header}}

<div class="container">
<div class="row">
    <div class="col-md-3">
    <p class="lead">Yelp Camp</p>
        <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
        <li class="list-group-item">Info 4</li>
        
        </div>
    
    </div>
    <div class="col-md-9">
    <div class="thumbnail">
        <img class="img-responsive" src="{{campGround.image}}">
        <div class="caption-full">
        <h4 class="pull-right">{{campGround.price}}$/night
            </h4>
            <h4><a> {{campGround.name}}</a></h4>
        <p>{{campGround.description}}</p>
<p><em>Submitted by {{campGround.author.username}}</em></p>
          
       <p> <a href="/campgrounds/{{campGround.id}}/edit" class="btn btn-xs btn-warning">Edit</a>
           </p>
            <p>
                <form id="deleteform" method="POST" action="/campgrounds/{{campGround.id}}?_method=DELETE">
                    <button class="btn btn-xs btn-danger">Delete</button>
            </form>
          
            </p>
      
        </div> 
        </div>
    <div class="well">
        <div class="text-right">
            <p><a href="/campgrounds/{{campGround._id}}/comments/new" class="btn btn-success">Add New Comment</a></p>

        </div>
         
{{#each campGround.comments}}
        <div class="row">
        <div class="col-md-12">
            <strong>{{this.author.username}}</strong>
    <span class="pull-right">10 Days ago</span>   <p>{{this.text}}
           
</p>   <a class="btn btn-xs btn-warning" href="/campgrounds/{{campGround.name}}/comments/{{this.id}}/edit">Edit</a>  </div>
    
        </div>

{{/each}}
        
        </div>
    
    </div>
    </div>

</div>
<h3>this is the show page</h3>

<p></p>

{{> footer}}